1. Define the python function to swap first and last value of the given list

In [1]:
my_list = [15, 78, 10, 45, 89]

In [2]:
def swap():
    my_list[0],my_list[-1]=my_list[-1],my_list[0]
    return my_list
print(swap())

[89, 78, 10, 45, 15]

2. Define the python function which adds two global numeric variables (1204 and 344536)

In [5]:
a=1204
b=344536
def addition():
    return(a+b)
print(addition())

345740

Define the python function to check whether the number 33 is even or odd

In [8]:
n=33
def OddEven():
    if n%2==0:
        return('even')
    else:
        return('odd')
print(OddEven())

odd

4. Define the python function to calculate the factorial of the number

In [ ]:
n=int(input('Enter the number'))

def factorial()

for i in range(1,n+1):

5. Define a function to add new items(1,2,3) in the empty list

In [6]:
list1=[]
def addto():
    for i in range(1,4):
        list1.append(i)
    return(list1)
print(addto())

[1, 2, 3]

6. Write a python function to test whether the two words start with the same character or not (take the inputs from the user)

In [14]:
w1=input('insert the first word,')
w2=input('insert the second word, ')

def compare(w1,w2):
    if w1[0].lower()==w2[0].lower():
        return('True')
    else:
        return('False')

print(compare(w1,w2))

insert the first word,nikhil
insert the second word, Nikhil
True

7. Check if the string contains a vowel or not (take the inputs from the user)

In [47]:


def check():
    s1=input('insert a word, ').lower()
    flag=0
    for x in range(len(s1)):
        if s1[x] in ['a','e','i','o','u']:
            flag=flag+1
    if flag!=0:
        return('true')
    else:
        return('false')
check()

insert a word, nik

'true'

8. Write the python program to get the unique values from the given list

In [53]:
my_list = [1,2,3,3,11,34,3,3,4,5]

def unique(my_list):
    return set(my_list)
unique(my_list)

{1, 2, 3, 4, 5, 11, 34}

In [55]:
import numpy as np

In [57]:
np.unique(my_list)

array([ 1,  2,  3,  4,  5, 11, 34])

9.Find the common characters from the given two strings

In [67]:
m1=str(input('insert the first word,'))
m2=str(input('insert the second word, '))

def common(m1,m2):
    for i in m1:
        if i.lower() in m2.lower():
            print(i.lower())
common(m1,m2)

insert the first word,apple
insert the second word, alomnd
a
l

In [69]:
print(set(m1.lower())&set(m2.lower()))

{'a', 'l'}

10. Define a function to perform addition, multiplication, and subtraction of the given two numbers

In [73]:
n1=int(input('input num'))
n2=int(input('input num'))

def ops(n1,n2):
    print('add',n1+n2, '\nmul:' ,n1*n2, '\nsub: ',n1-n2)
ops(n1,n2)

input num5
input num10
add 15
mul: 50
sub:  -5

11. Define a function to find the sum of all elements in the list

In [74]:
my_list = [34, 34, 55, 2, 56, 45]

In [87]:
def suminl(l):
    sum1=0
    for i in l:
        sum1=sum1+i
    return(sum1)
suminl(my_list)

226

12. Find the minimum of the two numbers(34 and 78) using the lambda function

In [88]:
m= lambda x,y: y if x>y else x
m(34,78)

34

13. Calculate the square of each element from the given tuple using the map function

In [89]:
number = (11, 21, 30, 34)

In [92]:
mx= list(map(lambda x:x**2, number))

In [93]:
mx

[121, 441, 900, 1156]

14. Read the given sentence and print the length of each word in a sentence in a list using the map function

In [97]:
sentence = 'Python for Data Science'

list(map(lambda word:len(word),sentence.split()))

[6, 3, 4, 7]

15. Find the remainder of all the numbers present in a list after dividing by 5

In [102]:
numbers = [ 74, 85, 14, 23 ]

list(map(lambda x:(x%5),numbers))

[4, 0, 4, 3]

16. Concatenate elements from the list1 with the corresponding element of list2

In [105]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]

list(map(lambda x,y:x+str(y),list1,list2))

['I11',
 'felt22',
 'happy33',
 'because44',
 'I55',
 'saw66',
 'the77',
 'others88',
 'were99']

17. Find the common elements from the given array using filter method

In [107]:
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']

list(filter(lambda x:x in arr2,arr1))

['t', 't', 'o', 'i']

18. Remove odd numbers from the given list

In [111]:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

list(filter(lambda x:x%2==0, numbers))

[110, 352, 278]

19. Calculate the sum of the numbers from 1 to 100

In [112]:
from functools import reduce

In [114]:
reduce(lambda x,y:x+y, range(1,100))

4950

20. Determine the maximum of a given list using reduce function

In [115]:
my_list = [47,11,42,102,13]

reduce(lambda x,y:x if x>y else y,my_list)

102