1. A list of words is given. Convert the words into uppercase (use lambda and map functions)

In [2]:
lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']

    
list(map(lambda x:x.upper(),lsbool))

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']

2. Write a function to print the height of students in the class (here count of students is not
fixed)

In [8]:
def height(*c):
    for i in c:
        print(i)
height(100,105,106,100,108,106,105,104)

100
105
106
100
108
106
105
104

3. Create a dictionary containing four lambda functions square, cube, squareroot, multiply by
2.
E.g. dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot': function
for squareroot, 'Double': function for double} and so on
Pass the values (input from the user) to the functions in the dictionary respectively. Then add
the outputs of each function and print it.

In [11]:
dict1 = {'Square': lambda x:x**2, 'Cube':  lambda x:x**3, 'Squareroot':  lambda x:x**(1/2), 'Double':  lambda x:x*2}
y=float(input('enter the number'))

sum1=sum(v(y) for k,v in dict1.items())
print(sum1)

enter the number5
162.2360679774998

4. A list of words is given. Define a function to find the words from the list that have their
second character in uppercase

s = ['hello', 'Dear', 'hOw', 'ARe', 'You']
Output: ['hOw', 'ARe']

In [22]:
s = ['hello', 'Dear', 'hOw', 'ARe', 'You'] 

result=list(filter(lambda j:j[1].isupper(),s))
print(result)

['hOw', 'ARe']

5. Define a function to filter the marks from the tuple "tmarks" that are greater than 40 and
print corresponding names from the "tnames" tuple

In [23]:
    tnames = ('John','Sharon','Jack','Annie')
tmarks = (32,50,75,12)

In [30]:
def marks():
    a=list(filter(lambda x:x[1]>40,zip(tnames,tmarks)))
    b=[]
    for i in a:
        b.append(i[0])
    print(b)
marks()

['Sharon', 'Jack']

6. A dictionary of names and their weights on earth is given. Find how much they will weigh
on the moon. (use map and lambda functions)
Weight of people in kg WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}
Gravitational force on the Moon GMoon = 1.622
Gravitational force on the Earth GEarth = 9.81

In [31]:
we = {'John':45, 'Shelly':65, 'Marry':35}
gm = 1.622
ge = 9.81

In [33]:
dict(map(lambda x : (x, round((we[x]/ge)*gm, 2)), we))

{'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

7. A list containing multiple lists is given. Convert each inner list into sets and find
intersection of all the sets (use reduce function)

given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]

In [36]:
from functools import reduce
gs = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]

reduce(lambda i,j:i&j,(set(x) for x in gs))

{3, 8}

8. Write a function to store the price of different products in the supermarket (number of
products is not fxed.

In [40]:
def price(*p):
    for i in p:
        print('The Price is: ',i)
price(11,12,13,14,15,16)

The Price is:  11
The Price is:  12
The Price is:  13
The Price is:  14
The Price is:  15
The Price is:  16

9. Define a function to multiply two global variables, 16 and 12

In [56]:
a=16
b=12

def multiply(m):
    m==a*b
    return(m)
multiply(m)

16